body {
  margin: 0;
  padding: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  font-family: sans-serif;
}

#root {
  height: 100%;
}

.mr-t-5 {
  margin-top: 5px;
}

.mr-t-10 {
  margin-top: 10px;
}

.mr-t-20 {
  margin-top: 20px;
}

.mr-t-50 {
  margin-top: 50px;
}

.mr-l-5 {
  margin-left: 5px;
}

.mr-l-10 {
  margin-left: 10px;
}

.mr-l-20 {
  margin-left: 20px;
}

.mr-b-20 {
  margin-bottom: 20px;
}

.content {
  padding: 20px;
}

.fill-height {
  height: 100%;
  min-height: 100%;
}



